* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* navigasi */
#navigasi-beranda {
  background-color: rgb(143, 2, 2);
  position: sticky;
  top: 0;
}
.navigasi-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}
.navigasi-flex label,
#humberger {
  display: none;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  color: aqua;
  padding: 25px 8px;
  text-decoration: none;
  line-height: 60px;
  text-transform: uppercase;
}
nav ul li a:hover {
  transition: all 0.5s;
  color: chocolate;
}
.navigasi-menu {
  display: flex;
}
.navigasi-menu img {
  width: 100px;
  height: 100px;
  margin: 20px 0 0 20px;
}
.navigasi-menu h2 {
  margin-top: 20px;
  color: aquamarine;
  margin-left: 15px;
}
.navigasi-menu p {
  display: flex;
  color: burlywood;
  text-align: center;
  position: absolute;
  margin-left: 136px;
  margin-top: 80px;
}

#komunitas {
  background-color: rgba(233, 136, 136, 0.205);
  padding: 20px;
}
#komunitas h1 {
  text-align: center;
  color: crimson;
  font-size: 36px;
  margin-bottom: 20px;
}
.lusia {
  text-align: center;
}
.lusia img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.lusia p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-top: 3px;
}
.judul {
  text-align: center;
  background-color: rgba(233, 136, 136, 0.205);
  padding: 25px;
}
.judul h3 {
  font-family: garamound;
  font-size: 28px;
  margin-bottom: 15px;
  color: mediumblue;
}
.komu-flex {
  width: 100%;
  background-color: rgba(233, 136, 136, 0.205);
}
.ibu-liez {
  display: flex;
  margin: 30px 15px 45px 15px;
}
.liez-media {
  width: 30%;
}
.liez-media img {
  width: 200px;
  height: 350px;
  border-radius: 15px;
}
.liez-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.liez-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.liez-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.oshyn {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.oshyn-media {
  width: 30%;
}
.oshyn-media img {
  width: 200px;
  height: 350px;
  border-radius: 15px;
}
.oshyn-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.oshyn-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.oshyn-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.ovin {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.ovin-media {
  width: 30%;
}
.ovin-media img {
  width: 200px;
  height: 350px;
  border-radius: 15px;
}
.ovin-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.ovin-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.ovin-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.anjelin {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.anjelin-media {
  width: 30%;
}
.anjelin-media img {
  width: 200px;
  height: 350px;
  border-radius: 15px;
}
.anjelin-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.anjelin-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.anjelin-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.yuli {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.yuli-media {
  width: 30%;
}
.yuli-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.yuli-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.yuli-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.yuli-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.irsa {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.irsa-media {
  width: 30%;
}
.irsa-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.irsa-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.irsa-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.irsa-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.riki {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.riki-media {
  width: 30%;
}
.riki-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.riki-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.riki-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.riki-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.johan {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.johan-media {
  width: 30%;
}
.johan-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.johan-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.johan-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.johan-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.sandro {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.sandro-media {
  width: 30%;
}
.sandro-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.sandro-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.sandro-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.sandro-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.kalista {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.kalista-media {
  width: 30%;
}
.kalista-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.kalista-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.kalista-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.kalista-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.april {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.april-media {
  width: 30%;
}
.april-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.april-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.april-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.april-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.viani {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.viani-media {
  width: 30%;
}
.viani-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.viani-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.viani-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.viani-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.elo {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.elo-media {
  width: 30%;
}
.elo-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.elo-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.elo-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.elo-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.tere {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.tere-media {
  width: 30%;
}
.tere-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.tere-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.tere-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.tere-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.amel {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.amel-media {
  width: 30%;
}
.amel-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.amel-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.amel-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.amel-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.junior {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.junior-media {
  width: 30%;
}
.junior-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.junior-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.junior-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.junior-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.tian {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.tian-media {
  width: 30%;
}
.tian-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.tian-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.tian-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.tian-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.jonli {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.jonli-media {
  width: 30%;
}
.jonli-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.jonli-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.jonli-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.jonli-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.jonatan {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.jonatan-media {
  width: 30%;
}
.jonatan-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.jonatan-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.jonatan-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.jonatan-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.edgar {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.edgar-media {
  width: 30%;
}
.edgar-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.edgar-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.edgar-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.edgar-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.aby {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.aby-media {
  width: 30%;
}
.aby-media img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.aby-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.aby-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.aby-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.venzo {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.venzo-media {
  width: 30%;
}
.venzo-media video {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.venzo-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.venzo-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.venzo-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}
.cesco {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.cesco-media {
  width: 30%;
}
.cesco-media video {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.cesco-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.cesco-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.cesco-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

.liam {
  display: flex;
  margin: 45px 15px 45px 15px;
}
.liam-media {
  width: 30%;
}
.liam-media video {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.liam-kisah {
  width: 70%;
  margin-left: 0px;
  margin-top: -25px;
}
.liam-kisah h3 {
  color: rgb(177, 98, 98);
  font-family: garamound;
  width: 100%;
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
.cesco-kisah p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 25px;
  text-align: justify;
}

#gale-komu {
  background-color: rgba(129, 73, 73, 0.082);
}
.gale01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale01 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale02 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale03 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale03 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale04 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale04 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale05 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale05 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale06 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale06 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale07 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale07 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale08 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale08 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale09 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale09 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale10 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale10 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.gale11 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
.gale11 img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

#komutam {
  background-color: rgba(129, 73, 73, 0.082);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  justify-items: center;
  text-align: center;
}
#komutam h3 {
  color: rgb(73, 33, 33);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

#contac {
  background-color: seagreen;
  display: flex;
  padding-bottom: 25px;
}
#contac img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 75px 0 0 50px;
}
#contac .alamat .qris {
  width: 10rem;
  height: 12rem;
  border-radius: 5px;
  margin: -5px 0 0 0%;
}
#contac .alamat {
  display: flex;
  flex-direction: column;
  margin: 55px 0 0 50px;
}
#contac .alamat h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
#contac .alamat p {
  margin-top: 2px;
  margin-bottom: 15px;
  color: rgb(219, 243, 8);
}
#contac .hub-kami {
  text-align: center;
  margin: 55px 0 0 100px;
}
#contac .hub-kami h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
#contac .sosmed a {
  margin: auto 5px;
}

#close {
  text-align: center;
  background-color: rgb(68, 45, 199);
  color: white;
  padding: 10px 0;
}

@media (max-width: 768px) {
  #navigasi-beranda .navigasi-flex label {
    display: inline-block;
    color: aqua;
    font-style: normal;
    font-size: 20px;
    padding: 8px;
  }
  #navigasi-beranda .navigasi-flex {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
  }
  nav ul li a {
    display: block;
    color: aqua;
    padding: 0 30px;
    height: auto;
    right: 180px;
    background-color: rgb(143, 2, 2);
    font-size: 15px;
  }
  .navigasi-menu {
    position: absolute;
    left: 250px;
  }
  .navigasi-menu h2 {
    left: 300px;
  }
  .navigasi-menu p {
    text-align: justify;
    font-size: 15px;
    left: -25px;
  }
  .navigasi-menu img {
    width: 75px;
    height: 75px;
    border: 50%;
  }
  #navigasi-beranda nav {
    display: none;
  }
  #navigasi-beranda .navigasi-flex input:checked ~ nav {
    display: flex;
  }
}

@media (max-width: 480px) {
  /* Navigasi */
  #navigasi-beranda .navigasi-flex label {
    display: inline-block;
    color: aqua;
    font-style: normal;
    font-size: 30px;
    padding: 8px;
  }
  #navigasi-beranda .navigasi-flex {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
  }
  nav ul li a {
    display: block;
    color: aqua;
    padding: 0 30px;
    height: auto;
    right: 180px;
    background-color: rgb(143, 2, 2);
    font-size: 0.9rem;
  }
  .navigasi-menu {
    position: absolute;
    left: 75px;
  }
  .navigasi-menu h2 {
    left: 75px;
    font-size: 0.9rem;
  }
  .navigasi-menu p {
    text-align: justify;
    font-size: 0.9rem;
    left: -25px;
    top: -18px;
  }
  .navigasi-menu img {
    width: 75px;
    height: 75px;
    border: 50%;
  }
  #navigasi-beranda nav {
    display: none;
  }
  #navigasi-beranda .navigasi-flex input:checked ~ nav {
    display: flex;
  }

  #komunitas h1 {
    font-size: 1rem;
  }
  .lusia img {
    width: 50%;
    height: auto;
  }
  .lusia p {
    font-size: 0.9rem;
  }
  .judul h3 {
    font-size: 1rem;
  }

  .ibu-liez {
    display: block;
    margin: 0;
  }
  .liez-media {
    width: 100%;
    text-align: center;
  }
  .liez-kisah {
    text-align: center;
    width: 100%;
  }
  .liez-kisah p {
    margin: 0 25px 0 25px;
  }

  .oshyn {
    display: block;
    margin: 0;
  }
  .oshyn-media {
    width: 100%;
    text-align: center;
  }
  .oshyn-kisah {
    text-align: center;
    width: 100%;
  }
  .oshyn-kisah p {
    margin: 0 25px 0 25px;
  }

  .ovin {
    display: block;
    margin: 0;
  }
  .ovin-media {
    width: 100%;
    text-align: center;
  }
  .ovin-kisah {
    text-align: center;
    width: 100%;
  }
  .ovin-kisah p {
    margin: 0 25px 0 25px;
  }

  .anjelin {
    display: block;
    margin: 0;
  }
  .anjelin-media {
    width: 100%;
    text-align: center;
  }
  .anjelin-kisah {
    text-align: center;
    width: 100%;
  }
  .anjelin-kisah p {
    margin: 0 25px 0 25px;
  }

  .yuli {
    display: block;
    margin: 0;
  }
  .yuli-media {
    width: 100%;
    text-align: center;
  }
  .yuli-kisah {
    text-align: center;
    width: 100%;
  }
  .yuli-kisah p {
    margin: 0 25px 0 25px;
  }

  .irsa {
    display: block;
    margin: 0;
  }
  .irsa-media {
    width: 100%;
    text-align: center;
  }
  .irsa-kisah {
    text-align: center;
    width: 100%;
  }
  .irsa-kisah p {
    margin: 0 25px 0 25px;
  }

  .riki {
    display: block;
    margin: 0;
  }
  .riki-media {
    width: 100%;
    text-align: center;
  }
  .riki-kisah {
    text-align: center;
    width: 100%;
  }
  .riki-kisah p {
    margin: 0 25px 0 25px;
  }

  .johan {
    display: block;
    margin: 0;
  }
  .johan-media {
    width: 100%;
    text-align: center;
  }
  .johan-kisah {
    text-align: center;
    width: 100%;
  }
  .johan-kisah p {
    margin: 0 25px 0 25px;
  }

  .sandro {
    display: block;
    margin: 0;
  }
  .sandro-media {
    width: 100%;
    text-align: center;
  }
  .sandro-kisah {
    text-align: center;
    width: 100%;
  }
  .sandro-kisah p {
    margin: 0 25px 0 25px;
  }

  .kalista {
    display: block;
    margin: 0;
  }
  .kalista-media {
    width: 100%;
    text-align: center;
  }
  .kalista-kisah {
    text-align: center;
    width: 100%;
  }
  .kalista-kisah p {
    margin: 0 25px 0 25px;
  }

  .april {
    display: block;
    margin: 0;
  }
  .april-media {
    width: 100%;
    text-align: center;
  }
  .april-kisah {
    text-align: center;
    width: 100%;
  }
  .april-kisah p {
    margin: 0 25px 0 25px;
  }

  .viani {
    display: block;
    margin: 0;
  }
  .viani-media {
    width: 100%;
    text-align: center;
  }
  .viani-kisah {
    text-align: center;
    width: 100%;
  }
  .viani-kisah p {
    margin: 0 25px 0 25px;
  }

  .elo {
    display: block;
    margin: 0;
  }
  .elo-media {
    width: 100%;
    text-align: center;
  }
  .elo-kisah {
    text-align: center;
    width: 100%;
  }
  .elo-kisah p {
    margin: 0 25px 0 25px;
  }

  .tere {
    display: block;
    margin: 0;
  }
  .tere-media {
    width: 100%;
    text-align: center;
  }
  .tere-kisah {
    text-align: center;
    width: 100%;
  }
  .tere-kisah p {
    margin: 0 25px 0 25px;
  }

  .amel {
    display: block;
    margin: 0;
  }
  .amel-media {
    width: 100%;
    text-align: center;
  }
  .amel-kisah {
    text-align: center;
    width: 100%;
  }
  .amel-kisah p {
    margin: 0 25px 0 25px;
  }

  .junior {
    display: block;
    margin: 0;
  }
  .junior-media {
    width: 100%;
    text-align: center;
  }
  .junior-kisah {
    text-align: center;
    width: 100%;
  }
  .junior-kisah p {
    margin: 0 25px 0 25px;
  }

  .tian {
    display: block;
    margin: 0;
  }
  .tian-media {
    width: 100%;
    text-align: center;
  }
  .tian-kisah {
    text-align: center;
    width: 100%;
  }
  .tian-kisah p {
    margin: 0 25px 0 25px;
  }

  .jonli {
    display: block;
    margin: 0;
  }
  .jonli-media {
    width: 100%;
    text-align: center;
  }
  .jonli-kisah {
    text-align: center;
    width: 100%;
  }
  .jonli-kisah p {
    margin: 0 25px 0 25px;
  }

  .jonatan {
    display: block;
    margin: 0;
  }
  .jonatan-media {
    width: 100%;
    text-align: center;
  }
  .jonatan-kisah {
    text-align: center;
    width: 100%;
  }
  .jonatan-kisah p {
    margin: 0 25px 0 25px;
  }

  .edgar {
    display: block;
    margin: 0;
  }
  .edgar-media {
    width: 100%;
    text-align: center;
  }
  .edgar-kisah {
    text-align: center;
    width: 100%;
  }
  .edgar-kisah p {
    margin: 0 25px 0 25px;
  }

  .aby {
    display: block;
    margin: 0;
  }
  .aby-media {
    width: 100%;
    text-align: center;
  }
  .aby-kisah {
    text-align: center;
    width: 100%;
  }
  .aby-kisah p {
    margin: 0 25px 0 25px;
  }

  .venzo {
    display: block;
    margin: 0;
  }
  .venzo-media {
    width: 100%;
    text-align: center;
  }
  .venzo-kisah {
    text-align: center;
    width: 100%;
  }
  .venzo-kisah p {
    margin: 0 25px 0 25px;
  }

  .cesco {
    display: block;
    margin: 0;
  }
  .cesco-media {
    width: 100%;
    text-align: center;
  }
  .cesco-kisah {
    text-align: center;
    width: 100%;
  }
  .cesco-kisah p {
    margin: 0 25px 0 25px;
  }

  .liam {
    display: block;
    margin: 0;
  }
  .liam-media {
    width: 100%;
    text-align: center;
  }
  .liam-kisah {
    text-align: center;
    width: 100%;
  }
  .liam-kisah p {
    margin: 0 25px 0 25px;
    text-align: justify;
  }
  #gale-komu {
    text-align: center;
  }
  .gale01 {
    display: block;
  }
  .gale02 {
    display: block;
  }
  .gale03 {
    display: block;
  }
  .gale04 {
    display: block;
  }
  .gale05 {
    display: block;
  }
  .gale06 {
    display: block;
  }
  .gale07 {
    display: block;
  }
  .gale08 {
    display: block;
  }
  .gale09 {
    display: block;
  }
  .gale10 {
    display: block;
  }
  .gale11 {
    display: block;
  }

  #komutam h3 {
    font-size: 1rem;
  }

  #contac {
    display: block;
  }
  #contac .contact-logo {
    text-align: center;
  }
  #contac .contact-logo img {
    width: 35%;
    height: auto;
    margin: 5px 0 0 1px;
  }
  #contac .alamat {
    margin-top: -25px;
    padding-top: 25px;
  }
  #contac .hub-kami {
    margin: 0;
    padding-top: 25px;
    text-align: center;
  }
}
